@font-face {
  font-family: 'gilroyextrabold';
  src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2'),
        url('../fonts/gilroyextrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'gilroylight';
src: url('../fonts/gilroylight-webfont.woff2') format('woff2'),
      url('../fonts/gilroylight-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

html {
          box-sizing: border-box;
}

*, *::before, *::after {
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-style: normal;
  text-align: left;
  color: #464646;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000000;
}

/* .container {
  width: 1440px;
  margin: 0 auto;
} */

/* Header и меню сайта */
.site-header {
  width: 1440px;
  margin: 0 auto;
  padding: 40px 140px;
  padding-bottom: 0px;
}

.header-content {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  width: 1160px;
  /* min-height: 299px; */
  padding-top: 35px;
  padding-left: 60px;
  padding-right: 60px;

  background-color: #f7e296;

}

.logo {
  position: absolute;
  top: -18px;
  left: 60px;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.search-form {
  position: relative;

  display: flex;
  height: 48px;
  width: 440px;
  margin: 0;
  padding: 0;
  margin-right: 100px;
}

.search-form-input {
  width: 355px;
  height: 48px;
  padding-left: 40px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  text-align: left;
  color: #000000;

  background-color: transparent;
  border: none;
}

.search-form-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form-input:focus {
  outline: none;
  border-bottom: 2px solid #000000;
}

.search-form::before {
  position: absolute;
  top: 16px;
  left: 1px;

  display: block;
  width: 16px;
  height: 16px;
  content: "";

  background-image: url(../img/svg/search-icon.svg);
}

.search-form-button {
  width: 85px;
  height: 48px;
  margin: 0;

  color: #000000;

  background-color: transparent;
  border: 2px solid #000000;
  opacity: 0;
}

.search-form-input:focus + .search-form-button {
  opacity: 1;
}

.search-form-input:focus + .search-form-button:hover {
  opacity: 1;

  color: #ffffff;
  background-color: #000000;
}

.search-form-button:focus {
  opacity: 1;
  color: #ffffff;
  background-color: #000000;
  outline: none;
}

.search-form-button:active {
  opacity: 1;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
  background-color: #000000;
}

.user-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  width: 500px;
  padding-top: 8px;
  margin-bottom: 40px;
}

.user-block-options {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-block a {
  position: relative;

  display: block;
  min-width: 80px;
  color: #000000;
  padding-left: 25px;

}

.user-block .login {
  margin-right: auto;
}

.login::before {
  position: absolute;
  top: 9px;
  left: -1px;

  width: 13px;
  height: 12px;
  content: "";

  background-image: url("../img/svg/user-icon.svg")
}

.compare {
  margin-right: 45px;
}

.compare::before {
  position: absolute;
  top: 11px;
  left: 5px;

  width: 10px;
  height: 10px;
  content: "";

  background-image: url("../img/svg/compare-icon.svg")
}

.cart::before {
  position: absolute;
  top: 9px;
  left: -1px;

  width: 12px;
  height: 12px;
  content: "";

  background-image: url("../img/svg/cart-icon.svg")
}

.user-block a:hover  {
  opacity: 0.6;
}

.user-block a:active {
  opacity: 0.3;
}

.main-navigation {
  flex-grow: 1;
  margin-bottom: 50px;
}

.site-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  font-family: 'gilroyextrabold';
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;

  list-style: none;
}

.site-menu li {
  margin-right: 35px;
}

.site-menu > li:nth-child(1) {
  width: 240px;
  margin-right: 300px;
}

.site-menu > li:nth-child(2) {
  margin-right: 35px;
}

.site-menu > li:nth-child(4) {
  margin-left: auto;
}

.site-menu > li:last-child {
  margin-right: 0;
}

.site-menu li a:hover {
  opacity: 0.6;
}

.site-menu li a:active {
  opacity: 0.3;
}

.catalog {
  position: relative;
}

.catalog::after {
  position: absolute;
  left: 230px;
  top: 2px;
  content: "";

  width: 16px;
  height: 16px;

  background-image: url("../img/plus.png");
  background-size: contain;
}

.catalog-navigation {
  position: absolute;
  z-index: 10;

  display: none;
  height: 130px ;

  width: 600px;
  margin: 0;
  padding: 0;
  padding-top: 20px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-transform: none;
  list-style: none;

  background-color: #f7e296;
}

.catalog:hover > .catalog-navigation,
.catalog:focus > .catalog-navigation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.catalog-navigation li {
  width: 180px;
  margin-right: 20px;
}

.catalog-navigation li:nth-child(-n+3) {
  width: 220px;
  margin-right: 20px;
}

.catalog-navigation li:nth-child(5) {
  margin-bottom: 30px;
}

/* ---------- Слайды ----------- */

.slider-container {
  position: relative;

  width: 1440px;
  margin: 0 auto;
  margin-bottom: 90px;
}

.slide-1::before,
.slide-2::before,
.slide-3::before {
  position: absolute;
  content: "";
  left: 600px;
  top: 38px;

  width: 100px;
  height: 7px;
  background-color: #ffffff;
}


.slide-1,
.slide-2,
.slide-3 {
  position: relative;
  display: none;
  /* display: flex; */
  height: 500px;

  width: 1160px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;

  background-image: linear-gradient(#f7e296 112px, #ffffff 112px);
}

.slide-1::after {
  position: absolute;
  right: 46px;
  top: -12px;
  content: "01";

  font-family: 'gilroyextrabold';
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 1.79px;
  color: #ffffff;
}

.slide-2::after {
  position: absolute;
  right: 46px;
  top: -12px;
  content: "02";

  font-family: 'gilroyextrabold';
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 1.79px;
  color: #ffffff;
}

.slide-3::after {
  position: absolute;
  right: 46px;
  top: -12px;
  content: "03";

  font-family: 'gilroyextrabold';
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 1.79px;
  color: #ffffff;
}

.slide-img img {
  display: block;
}

.slide-img {
  width: 526px;
}

.slide-1 .slide-img {
  padding-left: 30px;
}

.slide-2 .slide-img {
  padding-left: 58px;
  padding-top: 12px;
}

.slide-3 .slide-img {
  position: relative;
  left: -30px;
  padding-top: 65px;
}

.slider-textbox {
  padding-top: 80px;
  padding-left: 14px;
}

.slide-header {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;

  width: 500px;

  font-family: 'gilroyextrabold';
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
  color: #000000;
}

.slider-textbox p {
  margin: 0;
  padding: 0;
}

.slider-textbox .slide-description {
  width: 485px;
  letter-spacing: 0.15px;
  margin-bottom: 45px;
}

.slide-button {
  position: relative;
  z-index: 1;

  display: block;
  width: 220px;
  height: 40px;
  padding-left: 44px;
  padding-right: 44px;
  margin-bottom: 45px;
  padding-top: 8px;


  font-family: 'gilroyextrabold';
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.slide-button::before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  content: "";

  width: 220px;
  height: 8px;
  background-color: #f0c52e;

  transition: height 0.2s ease-in;
}

.slide-button:hover::before,
.slide-button:focus::before {
  height: 40px;
}

.slide-button:active {
  color: rgba(0, 0, 0, 0.3)
}

.slide-features {
  display: block;
  border-collapse: separate;
}

.feature-property-value {
  font-family: 'gilroylight';
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  color: #000000;
  text-align: left;
}

.feature-property-value td:nth-of-type(1) {
  width: 155px;
}

.slide-2 .feature-property-value td:nth-of-type(1) {
  width: 175px;
}

.feature-property-value td:nth-of-type(2) {
  width: 136px;
}

.feature-property {

  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: #464646;
}

.feature-property td {
  height: 25px;
  vertical-align: bottom;
}

.slider-controls {
  position: absolute;
  top: 328px;
  left: 1140px;
  z-index: 2;

  font-size: 0;
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 20px;

  vertical-align: top;

  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

#slide-1:checked ~ .slide-1,
#slide-2:checked ~ .slide-2,
#slide-3:checked ~ .slide-3 {
  display: flex;
}

#slide-1:checked ~ .slider-controls label[for="slide-1"]::before,
#slide-2:checked ~ .slider-controls label[for="slide-2"]::before,
#slide-3:checked ~ .slider-controls label[for="slide-3"]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";

  width: 5px;
  height: 5px;

  border: 1px solid #000000;
  border-radius: 50%;
}

.catalog-categories-container {
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 82px;
}

.catalog-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.icon-block {
  position: relative;

  width: 160px;
  height: 160px;

  background-color: #f7e296;
}

.catalog-categories a:hover .icon-block {
  background-color: #f0c52e;
}

.catalog-categories a:active {
  opacity: 0.3;
}

.icon-block img {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  transform: translate(-50%, -50%)
}

.monopod img {
  position: absolute;
  left: 50%;
  top: 100px;

  display: block;
}

.catalog-category-name {
  width: 160px;
  margin: 0;
  padding: 0;
  margin-top: 35px;

  font-family: 'gilroyextrabold';
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  text-align: left;
  color: #000000;
}

/* --- services-block ---- */



.services-block {
  min-height: 390px;
  min-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(#ffffff 100px, #e5e5e5 100px);
  margin-bottom: 92px;
}

.services-slider {
  position: relative;
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-top: 80px;
}

.services-slider::before {
  position: absolute;
  left: 278px;
  top: 0px;
  content: "";

  width: 7px;
  height: 319px;
  background-color: #000000;
}

.services-slider-switch {
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 285px;
}

.services-slider-switch li {
  display: block;
  width: 278px;
  height: 40px;
  margin-bottom: 25px;
}

.services-slider-switch label {
  position: relative;
  z-index: 2;

  display: block;
  width: 160px;
  height: 40px;
  margin-bottom: 25px;
  padding: 8px 0px;

  font-family: 'gilroyextrabold';
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;
}

.services-slider-switch label::before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  content: "";

  width: 160px;
  height: 8px;
  background-color: #f0c52e;

  transition: height 0.2s ease-in;
}

.services-slider-switch label:hover::before,
.services-slider-switch label:focus::before {
  height: 40px;
}

#slide1:checked ~ .services-slider-switch label[for="slide1"]::before,
#slide2:checked ~ .services-slider-switch label[for="slide2"]::before,
#slide3:checked ~ .services-slider-switch label[for="slide3"]::before {
  height: 0px;
}

.delivery-slide,
.warranty-slide,
.credit-slide {
  display: none;
}

#slide1:checked ~ .delivery-slide,
#slide2:checked ~ .warranty-slide,
#slide3:checked ~ .credit-slide {
  display: block;
}

.services-slider-switch li {
  color: #000000;
}

#slide1:checked ~ .services-slider-switch li:nth-child(1),
#slide2:checked ~ .services-slider-switch li:nth-child(2),
#slide3:checked ~ .services-slider-switch li:nth-child(3) {
  background-color: #000000;
  color: #f7e184;
}

.services-slide {
  flex-grow: 1;
  padding-left: 115px;
}

.services-header {
  width: 250px;
  margin: 0;
  padding: 0;
  margin-top: -5px;
  margin-bottom: 30px;

  font-family: 'gilroyextrabold';
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
}

.services-slide p {
  margin: 0;
  padding: 0;
  width: 445px;

  letter-spacing: 0.15px;
}

.delivery-slide {
  background-image: url("../img/svg/delivery.svg");
  background-repeat: no-repeat;
  background-position: 671px 5px;
}

.warranty-slide {
  background-image: url("../img/svg/warranty.svg");
  background-repeat: no-repeat;
  background-position: 671px 5px;
}

.credit-slide {
  background-image: url("../img/svg/credit.svg");
  background-repeat: no-repeat;
  background-position: 671px 5px;
}

/* ------- Блок с бренд-ссылками -------- */
.brand-list-container {
  min-width: 1440px;
  margin: 0 auto;
}

.brand-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 0;

  list-style: none;
}

.brand-link {
  display: block;
  width: 260px;
  height: 100px;
}

.brand-link img {
  display: block;
}

.brand-link:hover img {
  visibility: hidden;
}

.dji:hover,
.dji:focus {
  background-image: url("../img/logo-dji-hover.jpg")
}

.spgadgets:hover,
.spgadgets:focus {
  background-image: url("../img/logo-spgadgets-hover.jpg")
}

.gopro:hover,
.gopro:focus {
  background-image: url("../img/logo-gopro-hover.jpg")
}

.vive:hover,
.vive:focus {
  background-image: url("../img/logo-vive-hover.jpg")
}

/* ---------- "О нас" и "Контакты" --------- */

.information-block-container {
  min-width: 1440px;
  margin: 0 auto;
}

.information-block {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-top: 44px;
  margin-bottom: 81px;
}

.about {
  width: 50%;
}

.contacts {
  width: 50%;
  padding-left: 16px;
}

.about h2,
.contacts h2 {
  position: relative;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  width: 560px;
  text-align: left;

  font-family: 'gilroyextrabold';
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
}

.about h2::before,
.contacts h2::before {
  position: absolute;
  top: -52px;
  left: 0px;
  content: "";

  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about p {
  width: 475px;
  margin-bottom: 30px;
}

.contacts p {
  width: 515px;
  margin-bottom: 30px;
}

.delivery-options {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
  padding-top: 35px;
  padding-left: 33px;

  font-family: 'gilroyextrabold';
  font-size: 16px;
  line-height: 40px;
  text-align: left;
  color: #000000;

  list-style: none;

}

.delivery-options li{
  position: relative;
}

.delivery-options li::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -38px;

  content: "";
  width: 18px;
  height: 18px;

  background-image: url("../img/svg/list-style.svg");
  background-size: contain;
  opacity: 0.3;
}

.contacts img {
  display: block;
  box-sizing: content-box;
  padding-top: 8px;
  margin-bottom: 71px;
}

.about-link,
.mail-link {
  position: relative;

  display: block;
  width: 260px;
  height: 40px;
  padding-top: 8px;

  font-family: 'gilroyextrabold';
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.about-link::before,
.mail-link::before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  content: "";

  width: 260px;
  height: 8px;
  background-color: #f0c52e;

  transition: height 0.2s ease-in;
}

.about-link:hover::before,
.about-link:focus::before,
.mail-link:hover::before,
.mail-link:focus::before {
  height: 40px;
}

.about-link:active,
.mail-link:active {
  color: rgba(0, 0, 0, 0.3);
}

/*--- Footer ---*/
.site-footer {
  background-color: #464646;
  min-width: 1440px;
  margin: 0 auto;
}

.footer-container {
  position: relative;
  display: flex;
  width: 1160px;
  min-height: 323px;
  margin: 0 auto;
  padding-top: 65px;
}

.footer-container::after {
  position: absolute;
  bottom: 79px;
  left: -2px;
  content: "";

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer-left-block {
  width: 355px;
}

.footer-devicelogo-link {
  display: block;
  width: 163px;
  height: 35px;
  margin-bottom: 30px;

  font-size: 0px;

  background-image: url("../img/svg/device-logo-yellow.svg");
}

.footer-devicelogo-link:hover,
.footer-devicelogo-link:focus {
  opacity: 0.6;
}

.footer-devicelogo-link:active {
  opacity: 0.3;
}

.footer-left-block p {
  color: #ffffff;
}

/* ------------- footer-center-block ------------------ */

.footer-center-block {
  width: 450px;
  padding-top: 71px;
}

.footer-services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 48px;
  padding: 0;

  list-style: none;
}


.footer-services-list li a {
  display: block;
  width: 145px;
  height: 40px;

  font-family: 'gilroyextrabold';
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.footer-services-list li a:hover,
.footer-services-list li a:focus {
  opacity: 0.6;
}

.footer-services-list li a:active {
  opacity: 0.3;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-left: 23px;
  /* padding-right: 23px; */

}

.footer-social-list a {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 23px;

  font-size: 0px;
  list-style: none;
}

.fb {
  background-image: url("../img/svg/fb-logo.svg");
  opacity: 0.3;
}

.inst {
  background-image: url("../img/svg/inst-logo.svg");
  opacity: 0.3;
}

.tw {
  background-image: url("../img/svg/tw-logo.svg");
  opacity: 0.3;
}

.fb:hover,
.fb:focus,
.inst:hover,
.inst:active,
.tw:hover,
.tw:active {
  opacity: 1;
}

.fb:active,
.inst:active,
.tw:active {
  opacity: 0.1;
}

/* -------------footer-right-block--------------- */

.footer-right-block {
  width: 355px;
}

.footer-user-block {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.footer-user-block a {
  display: block;
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-block li {
  position: relative;
  margin-right: 66px;
}

.footer-user-block li:last-child {
  margin-right: 0px;
}

.footer-user-block li:hover,
.footer-user-block a:focus {
  opacity: 0.6;
}

.footer-user-block a:active {
  opacity: 0.3;
}

.footer-user-block li:nth-of-type(1)::before {
  position: absolute;
  top: 8px;
  left: -26px;
  content: "";

  height: 12px;
  width: 13px;
  background-image: url("../img/svg/user-icon-yellow.svg");
}

.footer-user-block li:nth-of-type(2)::before {
  position: absolute;
  top: 8px;
  left: -21px;
  content: "";

  height: 10px;
  width: 10px;
  background-image: url("../img/svg/compare-icon-yellow.svg");
}

.footer-user-block li:nth-of-type(3)::before {
  position: absolute;
  top: 8px;
  left: -25px;
  content: "";

  height: 12px;
  width: 12px;
  background-image: url("../img/svg/cart-icon-yellow.svg");
}

.footer-right-block p {
  color: #ffffff;
  text-align: right;
}

.academy-link {
  position: absolute;
  right: 2px;
  bottom: 65px;

  display: block;
  width: 27px;
  height: 35px;

  font-size: 0px;

  background-image: url("../img/svg/logo-html.svg")
}

.academy-link:hover,
.academy-link:focus {
  opacity: 0.6;
}

.academy-link:active {
  opacity: 0.3;
}

.modal {
  display: none;
}

/* ------------ Catalog.html ------------------- */

.user-block-entered {
  padding-top: 8px;
  margin-bottom: 40px;
}


.category-header-container {
  min-width: 1440px;
  margin: 0 auto;

  background-color: #ffffff;
}

.catalog-category-header {
  width: 1160px;
  margin: 0 auto;
  padding-top: 38px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 47px;
}

.catalog-category-header h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;

  font-family: 'gilroyextrabold';
  font-size: 47px;
  line-height: 48px;
  text-align: left;
  letter-spacing: 0.47px;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);

  list-style: none;
}

.breadcrumbs li {
  margin-right: 36px;
}

.breadcrumbs li a {
  color: inherit;
}

.sorting-container {
  min-width: 1440px;
  margin: 0 auto;

  background-image: linear-gradient(to right, #d9d9d9 50%, #ebebeb 50%);
}

.sorting-line {
  display: flex;
  width: 1160px;
  min-height: 71px;
  margin: 0 auto;
}

.filters-header {
  display: block;
  width: 327px;
  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-left: 61px;
  padding-right: 20px;
  margin-bottom: 24px;

  font-family: 'gilroyextrabold';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.sorting {
  display: flex;
  width: 833px;
  padding-top: 22px;
  padding-left: 75px;
  padding-bottom: 19px;

  background-color: #ebebeb;
}

.sorting h2 {
  margin: 0;
  padding: 0;

  font-family: 'gilroyextrabold';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.sorting-type {
  display: flex;
  margin: 0;
  margin-right: auto;
  padding: 0;
  padding-left: 54px;
  padding-top: 2px;

  list-style: none;
}

.sorting-type a {
  display: block;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-type .sorting-type-on {
  color: #000000;
}

.sorting-type li {
  margin: 0;
  padding: 0;
  margin-right: 30px;
}

.sorting-direction {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 6px;

  list-style: none;
}

.bottom,
.top {
  display: block;
  width: 11px;
  height: 10px;

  background-image: url("../img/svg/icon-down-dir.svg");
  opacity: 0.2;
}

.top {
  margin-left: 20px;
}

.bottom {
  transform: scale(-1);
}

.sort-active {
  opacity: 1;
}

.catalog-category-content {
  min-width: 1440px;
  margin: 0 auto;

  background-image: linear-gradient(to right, #ebebeb 50%, #ffffff 50%);
}

.catalog-category-content-wrapper {
  display: flex;

  width: 1160px;
  margin: 0 auto;
}

.filters-container {
  width: 327px;
}

.search-resalts {
  width: 833px;
  padding-top: 69px;
  padding-left: 73px;

  background-color: #ffffff;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}
